.btn {
    display: inline-flex;
    align-items: center;

    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 0.25rem;
    padding: 0 1.5rem;
    height: 4.125rem;
    @include cursorPointer;
    font-weight: 700;
    line-height: 1;
    transition: 0.3s ease-in-out;
    color: $color_white;

    &__text {

    }

    &__icon {
        width: 1.2rem;
        height: 1.2rem;

        &--stroke {
            transition: 0.3s ease-in-out;
            stroke: $color_primary;
            width: 1.9rem;
            height: 1.9rem;

            &_rotate {
                transform: rotate(180deg);
            }
        }

        &--spaceLeft {
            margin-left: 0.8rem;
        }

        &--spaceRight {
            margin-right: 0.8rem;
        }
    }

    &:hover, &:focus {
        box-shadow: 0px 18px 22px -13px rgba(202, 181, 181, 0.51);
    }

    &--primary {
        background: $color_btn_primary;
        font-weight: 700;
        width: 17.5rem;
        max-width: 100%;
        justify-content: center;
        padding: 0;
        box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);

        &:hover, &:focus {
            box-shadow: 0px 6px 6px rgba(203, 135, 52, 0.2);
        }
    }

    &--middle {
        font-size: 0.82rem;
        height: 2.875rem;
        width: 10rem; 
    }

    &--success {
        background-color: $color_success;

        &:hover, &:focus {
            background-color: darken($color_success, 10%);
            box-shadow: 0px 18px 22px -13px lighten($color_success, 15%);
        }
    }

    &--warning {
        background-color: $color_warning;

        &:hover, &:focus {
            background-color: darken($color_warning, 10%);
            box-shadow: 0px 18px 22px -13px lighten($color_warning, 15%);
        }
    }

    &--bordered {
        background-color: $color_white;
        border: 2px solid;

        &_primary {
            border-color: $color_primary;
            color: $color_primary;
    
            &:hover, &:focus {
                box-shadow: 0px 18px 22px -13px lighten($color_primary, 15%);
            }
        }

        &_success {
            border-color: $color_success;
            color: $color_success;
    
            .btn__icon {
                fill: $color_success;
            }
    
            &:hover, &:focus {
                box-shadow: 0px 18px 22px -13px lighten($color_success, 15%);
            }
        }

    }

    &--transparent {
        background-color: transparent;
        
        &:hover, &:focus {
            box-shadow: unset;
        }

        &_primary {
            font-weight: 600;
            color: $color_primary;
            padding: 0;
            height: auto;

            &:hover, &:focus {
                color: darken($color_primary, 10%);

                .btn__icon {
                    stroke: darken($color_primary, 10%);
                }
            }
        }

        &_dark {
            color: $color_black_main;
            padding: 0;

            &:hover, &:focus {
                color: darken($color_black_main, 10%);
            }
        }

        &_danger {
            color: $color_danger;

            &:hover, &:focus {
                color: darken($color_danger, 10%);
            }
        }

        &_success {
            color: $color_success;
            
            &:hover, &:focus {
                color: darken($color_success, 10%);
            }
        }
    }

    &:disabled {
        opacity: 0.7;
        pointer-events: none;
    }

}