// === header === [ Стили для навбара, используемые на всех страницах ] ===

.header {
    padding: 2.2rem 0;

    @media ($media_sm) {
        border-bottom: 1px solid $color_footer_divider;
        height: var(--header-min-height);
        padding: 0;

        @media ($media_sm) {
            display: flex;
            align-items: center;
        }
    }

    // .header__inner

    &__inner {

    }

    // .header__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__bottom

    &__bottom {
        display: flex;
        align-items: center;
        margin-top: 2rem;
    }

    // .header__links

    &__links {
        margin-left: 5.2rem;
        flex-grow: 1;

        display: flex;
        justify-content: space-between;
    }
}

.phone-header {
    padding: 0.35rem;
    border-radius: 0.125rem;
    border: 1px solid $color_primary;

    picture {
        display: flex;

        width: 1rem;
        height: 1rem;
    }
}

.open-menu {
    width: 1.7rem;
    
    picture {
        display: flex;
    }
}

// === / header ===