@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
@import "./lib/fonts";
@import "./lib/lightslider";
@import "./lib/mixins";
@import "./menu";
//@import "./lib/animate";
@import "./lib/burger";
@import "./lib/sprite"; // общий стиль иконок
@import "./sprite/icons"; // стили иконок, которые генерируются автоматически
@import "./lib/components";

/* СТИЛИ КОМПОНЕНТОВ (первая буква c- означает custom) */

@import "./components/btn";
//@import "./components/link";
//@import "./components/c-checkbox";
@import "./components/c-field";
@import "./components/c-select";
@import "./components/c-details";
@import "./components/с-dropdown";

@import "modal";
@import "header";
@import "footer";

.scrollBlock {

    // .scrollBlock__inner

    &__inner {

    }

    // .scrollBlock__preview

    &__preview {
        background-color: $color_primary;
        color: $color_white;
        font-size: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
    }
}

.choose-card {
    font-size: 0.9rem;

    // .choose-card__icon

    &__icon {
        width: 3.8rem;
        height: 3.8rem;
    }

    // .choose-card__title

    &__title {
        font-weight: 700;
        margin: 1rem 0 0.3rem 0;
    }

    // .choose-card__description

    &__description {
        font-weight: 300;
        line-height: 2;
    }
}


.card {
    position: relative;
    background: $color_white;
    box-shadow: 0px 0px 1.9rem rgba(43, 42, 40, 0.08);
    border-radius: 0px 2.5rem 0px 0px;
    padding: 0.3rem;

    // .card--inline

    &--inline {
        max-width: unset;
        display: flex;

        @media ($media_sm) {
            display: block;
            max-width: 100%;
        }

        .card__picture {
            order: 2;

            @media ($media_sm) {
                order: unset;
            }
        }

        .card__img {
            width: 26.25rem;
            height: 19.375rem;

            @media ($media_sm) {
                max-width: 100%;
                min-width: 100%;
                height: auto;
            }
        }
    }

    // .card--border

    &--border {
        padding: 0;
        border-radius: 0.5rem;
    }

    &::before {
        position: absolute;
        content: attr(data-card);
        font-size: 8.75rem;
        color: #cb8734;
        opacity: .1;
        font-weight: 800;
        bottom: -1.6rem;
        right: 2.7rem;
        line-height: 1;
        clip-path: inset(0 0 18% 0);

        @media ($media_sm) {
            right: unset;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // .card__content

    &__content {
        padding: 1.75rem 1.25rem 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .card__header

    &__header {
        position: relative;

        // .card__header--img

        &--img {

            .card__title {
                line-height: 1.3;
            }

            picture {
                display: flex;
                justify-content: flex-end;

                position: absolute;
                bottom: 0;
                right: 0;

                width: auto;
                height: 11.25rem;

                @media ($media_sm) {
                    left: 50%;
                    right: unset;
                    transform: translate(-50%, -70%);
                    top: 0;
                }

            }
        }

        .card__title {
            @media ($media_sm) {
                text-align: center;
                margin-top: 4.5rem;
            }
        }
    }

    // .card__title

    &__title {
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 1;

        @media ($media_sm) {
            font-size: 1.75rem;
        }
    }

    // .card__list

    &__list {
        margin-top: 0.8rem;
    }

    // .card__description

    &__description {
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 1.87rem;
        margin: 0.5rem 0 0.8rem 0;
    }

    // .card__btn

    &__btn {

    }

    // .card__img

    &__img {
        border-radius: 0px 2.5rem 0px 2.5rem;

        @media ($media_sm) {
            max-width: 100%;
            min-width: 100%;
        }
    }

    // .card__picture

    &__picture {
        picture {
            display: flex;
        }
    }
}

.project-catalog {
    background-image: url(../img/project-catalog-bg.png);
    background-position: center right;
    background-repeat: no-repeat;
    //background-size: 80rem;
    background-size: 65vw;

    // .project-catalog__title

    &__title {
        margin-bottom: 2rem;
    }

    // .project-catalog__container

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    // .project-catalog__card

    &__card {
        max-width: 23rem;
        --offsetCard: 2rem;

        @media ($media_sm) {
            max-width: 100%;
        }

        &.card--inline {
            max-width: calc((23rem * 2) + var(--offsetCard));

            @media ($media_sm) {
                max-width: 100%;
            }
        }

        &:first-child {
            margin-right: var(--offsetCard);

            @media ($media_sm) {
                margin-right: 0;
            }
        }

        &:not(:last-child) {
            margin-bottom: var(--offsetCard);
        }
    }
}


.compound {


    // .compound__header

    &__header {
        margin-bottom: 3.5rem;

        @media ($media_sm) {
            margin-bottom: 6rem;
        }
    }

    // .compound__cards

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem 2rem;

        @media ($media_sm) {
            grid-template-columns: 1fr;
            gap: 7rem;
        }
    }

    // .compound__sliderWrapper

    &__sliderWrapper {
        margin: 2.5rem 0;
    }

    // .compound__buttons

    &__buttons {
        display: flex;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .compound__button

    &__button {
        &:not(:last-child) {
            margin-right: 2.75rem;

            @media ($media_sm) {
                margin: 0 0 2.75rem 0;
            }
        }
    }

    // .compound__img

    &__img {
        min-height: 25rem;
        object-fit: cover;
        border-radius: 0 2rem;
    }
}

.choose-block {

    // .choose-block__content

    &__content {
        padding: 3.5rem;

        @media ($media_sm) {
            padding: 2rem;
        }
    }

    // .choose-block__items

    &__items {
        display: flex;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .choose-block__title

    &__title {
        margin-bottom: 2.5rem;
    }

    // .choose-block__item

    &__item {
        flex-basis: 100%;

        @media ($media_sm) {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }
}

.choose {
    background-image: linear-gradient($color_body_bg 50%, $color_white 50%);
}

.three-types {
    padding: var(--section_indent_max) 0;

    // .three-types__header

    &__header {
        margin-bottom: 2.8rem;
    }

    // .three-types__cards

    &__cards {
        display: flex;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .three-types__card

    &__card {
        flex-basis: 100%;

        &:not(:last-child) {
            margin-right: 2rem;

            @media ($media_sm) {
                margin: 0 0 2rem 0;
            }
        }
    }
}

.promo {
    padding-bottom: 4.5rem;

    // .promo__container

    &__container {
        display: flex;

        @media ($media_sm) {
            flex-direction: column-reverse;
        }
    }

    // .promo__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .promo__title

    &__title {
        @media ($media_sm) {
            display: none;
        }

        &--mobile {
            @media ($media_sm) {
                display: block;
                margin-bottom: 1rem;
            }
        }
    }

    // .promo__mobile

    &__mobile {
        display: none;

        @media ($media_sm) {
            display: block;
            text-align: center;
        }
    }

    // .promo__description

    &__description {
        font-size: 1.125rem;
        line-height: 1.7;
        margin: 1.5rem 0;

        @media ($media_sm) {
            font-size: 1rem;
            text-align: center;
        }
    }

    // .promo__tagline

    &__tagline {
        margin: 1.2rem 0;
    }

    // .promo__buttons

    &__buttons {
        display: flex;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .promo__button

    &__button {
        &:not(:last-child) {
            margin-right: 2.75rem;

            @media ($media_sm) {
                margin: 0 0 1.3rem 0;
            }
        }
    }

    // .promo__img

    &__img {
        width: 38.4rem;
        min-width: 38.4rem;
        height: 31.62rem;

        @media ($media_sm) {
            max-width: 100%;
            min-width: 100%;
            height: auto;
        }
    }
}


.about {
    position: relative;

    // .about__images

    &__images {
        @media ($media_sm) {
            display: none;
        }
    }

    // .about__image

    &__image {
        position: absolute;
        max-width: 30vw;

        picture {
            display: flex;
        }

        // .about__image--top

        &--top {
            right: 0;
            top: 0;
        }

        // .about__image--bottom

        &--bottom {
            left: 0;
            bottom: 0;
        }
    }

    // .about__header

    &__header {

    }

    // .about__promo

    &__promo {
        position: relative;
        margin: 4.2rem 0 0;

        @media ($media_sm) {
            margin: 25vw 0 0 0;
        }
    }

    // .about__bg

    &__bg {

        picture {
            display: flex;

            img {
                border-radius: 0 6.25rem 0 6.25rem;

                @media ($media_sm) {
                    border-radius: 0 2rem 0 2rem;
                }
            }
        }
    }

    // .about__author

    &__author {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 26.5rem;
        height: 30rem;

        picture {
            display: flex;
        }

        @media ($media_sm) {
            max-width: 70%;
            height: auto;
        }
    }

    // .about__card

    &__card {
        margin: 0 auto;
        transform: translateY(-50%);

        @media ($media_sm) {
            transform: translateY(-25%);
        }
    }

    // .about__play

    &__play {
        position: absolute;
        bottom: 0;
        left: 55%;
        transform: translateY(-100%);

        @media ($media_sm) {
            transform: translateY(-40%);
        }
    }

    // .about__advance

    &__advance {
        display: flex;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .about__item

    &__item {
        flex-basis: 100%;

        @media ($media_sm) {
            text-align: center;
        }

        &:not(:last-child) {
            margin-right: 2rem;

            @media ($media_sm) {
                margin: 0 0 2rem 0;
            }
        }
    }

    // .about__btn

    &__btn {
        margin-top: 2.5rem;
        text-align: center;
    }
}

.article-card {

    // .article-card__picture

    &__picture {
        position: relative;

        img {
            @media ($media_sm) {
                min-width: 100%;
            }
        }
    }

    // .article-card__category

    &__category {
        font-size: 0.7rem;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $color_primary;
        color: $color_white;
        display: inline-block;
        border-radius: 0.25rem;
        padding: 0.7rem 1.2rem;

        position: absolute;
        left: 1.3rem;
        top: 1.3rem;
    }

    // .article-card__title

    &__title {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 0.5rem 0;
    }

    // .article-card__description

    &__description {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 2;
    }
}

.latest-article {

    // .latest-article__header

    &__header {
        margin-bottom: 2.5rem;
    }

    // .latest-article__inner

    &__inner {
        @media ($media_sm) {
            padding-bottom: 3.5rem;
        }
    }

    .lSSlideOuter {
        width: calc(100% + 4rem);
        margin-left: -2rem;

        @media ($media_sm) {
            width: 100%;
            margin-left: 0;
        }
    }

    // .latest-article__slider

    &__slider {

    }

    // .latest-article__slide

    &__slide {
        padding: 0 2rem;

        @media ($media_sm) {
            padding: 0.1rem;
        }
    }
}