@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
@import "./lib/fonts";
@import "./lib/lightslider";
@import "./lib/mixins";
@import "./menu";
//@import "./lib/animate";
@import "./lib/burger";
@import "./lib/sprite"; // общий стиль иконок
@import "./sprite/icons"; // стили иконок, которые генерируются автоматически
@import "./lib/components";
@import "./sliderGallery";

/* СТИЛИ КОМПОНЕНТОВ (первая буква c- означает custom) */

@import "./components/btn";
@import "./components/link";
//@import "./components/c-checkbox";
@import "./components/c-field";
@import "./components/c-select";
@import "./components/c-details";
@import "./components/с-dropdown";
@import "./components/c-range";

@import "modal";
@import "header";
@import "footer";

.scrollBlock {

    // .scrollBlock__inner

    &__inner {

    }

    // .scrollBlock__preview

    &__preview {
        background-color: $color_primary;
        color: $color_white;
        font-size: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem 0;
    }
}

.choose-card {
    font-size: 0.9rem;

    // .choose-card__icon

    &__icon {
        width: 3.8rem;
        height: 3.8rem;
    }

    // .choose-card__title

    &__title {
        font-weight: 700;
        margin: 1rem 0 0.3rem 0;
    }

    // .choose-card__description

    &__description {
        font-weight: 300;
        line-height: 2;
    }
}


.card {
    position: relative;
    background-color: $color_white;
    box-shadow: 0px 0px 1.9rem rgba(43, 42, 40, 0.08);
    border-radius: 0px 2.5rem 0px 0px;
    padding: 0.3rem;

    // .card--inline

    &--inline {
        max-width: unset;
        display: inline-flex;
        justify-content: space-between;

        @media ($media_sm) {
            display: block;
            max-width: 100%;
        }

        .card__picture {
            order: 2;

            @media ($media_sm) {
                order: unset;
            }
        }

        .card__img {
            @media ($media_sm) {
                max-width: 100%;
                min-width: 100%;
                height: auto;
            }
        }
    }

    // .card--primary

    &--primary {
        background-color: $color_body_bg;
    }

    // .card--reverse

    &--reverse {
        @media ($media_sm) {
            display: flex;
            flex-direction: column-reverse;
            border-radius: 0 2.5rem 0 2.5rem;
        }
    }

    // .card--border

    &--border {
        padding: 0;
        border-radius: 0.5rem;
    }

    &[data-card] {
        &::before {
            position: absolute;
            content: attr(data-card);
            font-size: 8.75rem;
            color: #cb8734;
            opacity: .1;
            font-weight: 800;
            bottom: -1.6rem;
            right: 2.7rem;
            line-height: 1;
            clip-path: inset(0 0 18% 0);
    
            @media ($media_sm) {
                right: unset;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    // .card__inputs

    &__inputs {
        margin: 1.8rem 0;
    }

    // .card__signature

    &__signature {
        line-height: 1.6;
        font-size: 0.9rem;
        font-weight: 300;
        margin-top: 2rem;
    }

    // .card__content

    &__content {
        padding: 3rem 2.7rem 2.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media ($media_sm) {
            padding: 2rem 1rem;
        }

        &--contact {
            padding: 2.2rem;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            @media ($media_sm) {
                flex-direction: column;
                align-items: flex-start;
                padding: 1.8rem;
            }
        }

        &--props {
            padding: 1.5rem 2.5rem;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            @media ($media_sm) {
                padding: 1.5rem;
            }
        }

        &--paddingMin {
            padding: 2rem;
        }

        &--paddingXS {
            padding: 1.2rem;
        }
    }

    // .card__info

    &__info {
        
    }

    // .card__contacts

    &__contacts {
        margin: 0.7rem 0;
        display: flex;
    }

    // .card__header

    &__header {
        position: relative;

        // .card__header--img

        &--img {

            .card__title {
                line-height: 1.3;
            }

            picture {
                display: flex;
                justify-content: flex-end;

                position: absolute;

                @media ($media_not_sm) {
                    bottom: 0;
                    right: 0;
                }

                @media ($media_sm) {
                    left: 50%;
                    transform: translate(-50%, -70%);
                    top: 0;
                }

            }
        }

        .card__title {
            @media ($media_sm) {
                text-align: center;
                margin-top: 4.5rem;
            }
        }
    }

    // .card__title

    &__title {
        font-weight: 400;
        font-size: 1.9rem;
        line-height: 1.2;

        @media ($media_sm) {
            font-size: 1.75rem;
        }

        &--contact {
            font-size: 1.5rem;
        }

        &--min {
            font-size: 1.25rem;

            @media ($media_sm) {
                font-size: 1.1rem;
            }
        }
    }

    // .card__propsData

    &__propsData {
        display: inline-block;
        font-weight: 700;
        margin-top: 0.3rem;
    }

    // .card__list

    &__list {
        margin-top: 0.8rem;
    }

    // .card__description

    &__description {
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 1.87rem;
        margin: 0.5rem 0 0.8rem 0;

        &--process {
            font-size: 1rem;
            margin: 1.5rem 0 0;
            line-height: 1.87;
        }
    }

    // .card__controls

    &__controls {
        display: flex;
    }

    // .card__buildInfo

    &__buildInfo {
        display: flex;
        margin: 1.5rem 0;

        .buildInfo {
            &:not(:last-child) {
                margin-right: 2.2rem;
            }
        }
    }

    // .card__control

    &__control {
        flex-basis: 100%;
        height: 2.65rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-right: 0.4rem;
        }
    }

    // .card__btn

    &__btn {

    }

    // .card__img

    &__img {
        border-radius: 0px 2.5rem 0px 2.5rem;

        @media ($media_sm) {
            max-width: 100%;
            min-width: 100%;
        }
    }

    // .card__picture

    &__picture {

        picture {
            display: flex;
        }

        &--contact {
            margin-left: auto;

            @media ($media_sm) {
                order: -1;
                margin-left: 0;
                margin-bottom: 1rem;
            }
        }

        &--props {
            order: -1;
            margin-right: 1.5rem;

            min-width: 3.8rem;
            min-height: 3.8rem;

            max-width: 3.8rem;
            max-height: 3.8rem;

            @media ($media_sm) {
                margin-right: 1rem;

                min-width: 3rem;
                min-height: 3rem;
    
                max-width: 3rem;
                max-height: 3rem;
            }
        }
    }


}

.project-catalog {
    background-image: url(../img/project-catalog-bg.png);
    background-position: center right;
    background-repeat: no-repeat;
    //background-size: 80rem;
    background-size: 65vw;

    // .project-catalog__title

    &__title {
        margin-bottom: 2rem;
    }

    // .project-catalog__container

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        width: 66.6%;

        @media ($media_sm) {
            width: 100%;
            grid-template-columns: 1fr;
        }
    }

    // .project-catalog__card

    &__card {

        &--grow {
            grid-column-start: 1;
            grid-column-end: 3;

            @media ($media_sm) {
                grid-column: auto;
            }
        }

    }
}


.compound {


    // .compound__header

    &__header {
        margin-bottom: 3.5rem;

        @media ($media_sm) {
            margin-bottom: 6rem;
        }
    }

    // .compound__cards

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem 2rem;

        @media ($media_sm) {
            grid-template-columns: 1fr;
            gap: 7rem;
        }
    }

    // .compound__sliderWrapper

    &__sliderWrapper {
        margin: 2.5rem 0;
    }

    // .compound__buttons

    &__buttons {
        display: flex;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .compound__button

    &__button {
        &:not(:last-child) {
            margin-right: 2.75rem;

            @media ($media_sm) {
                margin: 0 0 2.75rem 0;
            }
        }
    }

    // .compound__img

    &__img {
        min-height: 25rem;
        object-fit: cover;
        border-radius: 0 2rem;
    }
}

.choose-block {

    // .choose-block__content

    &__content {
        padding: 3.5rem;

        @media ($media_sm) {
            padding: 2rem;
        }
    }

    // .choose-block__items

    &__items {
        display: flex;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .choose-block__title

    &__title {
        margin-bottom: 2.5rem;
    }

    // .choose-block__item

    &__item {
        flex-basis: 100%;

        @media ($media_sm) {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }
}

.choose {
    background-image: linear-gradient($color_body_bg 50%, $color_white 50%);
}

.three-types {
    padding: var(--section_indent_max) 0;

    // .three-types__header

    &__header {
        margin-bottom: 2.8rem;
    }

    // .three-types__cards

    &__cards {
        display: flex;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .three-types__card

    &__card {
        flex-basis: 100%;

        &:not(:last-child) {
            margin-right: 2rem;

            @media ($media_sm) {
                margin: 0 0 2rem 0;
            }
        }
    }
}

.promo {
    padding-bottom: 4.5rem;

    // .promo__container

    &__container {
        display: flex;

        @media ($media_sm) {
            flex-direction: column-reverse;
        }
    }

    // .promo__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .promo__title

    &__title {
        @media ($media_sm) {
            display: none;
        }

        &--mobile {
            @media ($media_sm) {
                display: block;
                margin-bottom: 1rem;
            }
        }
    }

    // .promo__mobile

    &__mobile {
        display: none;

        @media ($media_sm) {
            display: block;
            text-align: center;
        }
    }

    // .promo__description

    &__description {
        font-size: 1.125rem;
        line-height: 1.7;
        margin: 1.5rem 0;

        @media ($media_sm) {
            font-size: 1rem;
            text-align: center;
        }
    }

    // .promo__tagline

    &__tagline {
        margin: 1.2rem 0;
    }

    // .promo__buttons

    &__buttons {
        display: flex;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .promo__button

    &__button {
        &:not(:last-child) {
            margin-right: 2.75rem;

            @media ($media_sm) {
                margin: 0 0 1.3rem 0;
            }
        }
    }

    // .promo__img

    &__img {
        width: 38.4rem;
        min-width: 38.4rem;
        height: 31.62rem;

        @media ($media_sm) {
            max-width: 100%;
            min-width: 100%;
            height: auto;
        }
    }
}


.about {
    position: relative;

    // .about__images

    &__images {
        @media ($media_sm) {
            display: none;
        }
    }

    // .about__image

    &__image {
        position: absolute;
        max-width: 30vw;

        picture {
            display: flex;
        }

        // .about__image--top

        &--top {
            right: 0;
            top: 0;
        }

        // .about__image--bottom

        &--bottom {
            left: 0;
            bottom: 0;
        }
    }

    // .about__header

    &__header {

    }

    // .about__promo

    &__promo {
        position: relative;
        margin: 4.2rem 0 0;

        @media ($media_sm) {
            margin: 25vw 0 0 0;
        }
    }

    // .about__bg

    &__bg {

        picture {
            display: flex;

            img {
                border-radius: 0 6.25rem 0 6.25rem;

                @media ($media_sm) {
                    border-radius: 0 2rem 0 2rem;
                }
            }
        }
    }

    // .about__author

    &__author {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 26.5rem;
        height: 30rem;

        picture {
            display: flex;
        }

        @media ($media_sm) {
            max-width: 70%;
            height: auto;
        }
    }

    // .about__card

    &__card {
        margin: 0 auto;
        transform: translateY(-50%);

        @media ($media_sm) {
            transform: translateY(-25%);
        }
    }

    // .about__play

    &__play {
        position: absolute;
        bottom: 0;
        left: 55%;
        transform: translateY(-100%);

        @media ($media_sm) {
            transform: translateY(-40%);
        }
    }

    // .about__advance

    &__advance {
        display: flex;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .about__item

    &__item {
        flex-basis: 100%;

        @media ($media_sm) {
            text-align: center;
        }

        &:not(:last-child) {
            margin-right: 2rem;

            @media ($media_sm) {
                margin: 0 0 2rem 0;
            }
        }
    }

    // .about__buttons

    &__buttons {
        margin-top: 2.5rem;
        text-align: center;
        
        display: flex;
        align-items: center;
        justify-content: center;

        @media ($media_sm) {
            flex-wrap: wrap;
        }
    }


    // .about__button

    &__button {
        &:not(:last-child) {
            margin-right: 2.5rem;

            @media ($media_sm) {
                margin: 0 0 2rem 0;
            }
        }
    }
}

.article-card {

    // .article-card__picture

    &__picture {
        position: relative;

        img {
            @media ($media_sm) {
                min-width: 100%;
            }
        }
    }

    // .article-card__category

    &__category {
        font-size: 0.7rem;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $color_primary;
        color: $color_white;
        display: inline-block;
        border-radius: 0.25rem;
        padding: 0.7rem 1.2rem;

        position: absolute;
        left: 1.3rem;
        top: 1.3rem;
    }

    // .article-card__title

    &__title {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 0.5rem 0;
    }

    // .article-card__description

    &__description {
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 2;
    }
}

.latest-article {

    // .latest-article__header

    &__header {
        margin-bottom: 2.5rem;
    }

    // .latest-article__inner

    &__inner {
        @media ($media_sm) {
            padding-bottom: 3.5rem;
        }
    }

    .lSSlideOuter {
        width: calc(100% + 4rem);
        margin-left: -2rem;

        @media ($media_sm) {
            width: 100%;
            margin-left: 0;
        }
    }

    // .latest-article__slider

    &__slider {

    }

    // .latest-article__slide

    &__slide {
        padding: 0 2rem;

        @media ($media_sm) {
            padding: 0.1rem;
        }
    }
}

.breadcrumb-section {
    margin: 1.5rem 0 2.5rem 0;

    @media ($media_sm) {
        margin: 1.5rem 0;
    }
}

.about-simple {

    // .about-simple__header

    &__header {

    }

    // .about-simple__title

    &__title {

    }

    // .about-simple__body

    &__body {
        display: flex;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column-reverse;
        }
    }

    // .about-simple__text

    &__text {
        font-weight: 300;
        line-height: 1.9;
    }

    // .about-simple__slider

    &__slider {
        width: 38.4rem;
        min-width: 38.4rem;
        height: 31.62rem;

        @media ($media_sm) {
            max-width: 100%;
            min-width: 100%;
            height: auto;

            margin: 2rem 0;
        }
    }
}

.about-choose {

    // .about-choose__elem

    &__elem {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 3.75rem;
        }
    }
}

.contact {

    // .contact__container

    &__container {
        flex-basis: 100%;
    }

    // .contact__header

    &__header {

    }

    // .contact__title

    &__title {

    }

    // .contact__body

    &__body {
        display: flex;
        padding-top: 3rem;

        @media ($media_sm) {
            flex-direction: column;
            padding-top: 1rem;
        }
    }

    // .contact__left

    &__left {
        margin-right: 2.8rem;

        @media ($media_sm) {
            margin: 0 0 2rem 0;
        }
    }

    // .contact__item

    &__item {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &--space {
            padding: 0 2.2rem;

            @media ($media_sm) {
                padding: 0;
            }
        }

        &--map {
            height: 100%;

            > ymaps {
                min-height: 400px;
                height: 100%;
            }
        }
    }

    // .contact__subtitle

    &__subtitle {
        font-size: 1.875rem;
        line-height: 1.5;
        font-weight: 400;

        @media ($media_sm) {
            font-size: 1.125rem;
        }
    }

    // .contact__right

    &__right {
        display: flex;
        flex-direction: column;
    }
}

.props {

    // .props__header

    &__header {
        margin-bottom: 2rem;
    }

    // .props__title

    &__title {

    }

    // .props__cards

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        @media ($media_sm) {
            grid-template-columns: 1fr;
            gap: 0.7rem;
        }
    }

    // .props__card

    &__card {
        display: flex;
        align-items: center;
    }
}

.our-jobs {

    // .our-jobs__header

    &__header {
    }

    // .our-jobs__title

    &__title {
    }

    // .our-jobs__body

    &__body {
        margin-top: 2rem;
    }

    // .our-jobs__cards

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        @media ($media_sm) {
            grid-template-columns: 1fr;
        }
    }

    // .our-jobs__card

    &__card {

        @media ($media_not_sm) {
            @include cursorPointer;
            transition: 0.3s ease-in-out;
    
            &:hover {
                transform: scale(1.05);
            }
        }

        // .our-jobs__card--grow

        &--grow {

            @media ($media_not_sm) {
                grid-column-end: -1;
                grid-column-start: 2;

                .our-jobs__cardFooter {
                    flex-direction: column-reverse;
                }

                .our-jobs__cardElem {
                    &:not(:last-child) {
                        margin: 1.5rem 0 0;
                    }
                }
            }

        }

    }

    // .our-jobs__button

    &__button {
        margin-top: 3rem;
    }

    // .our-jobs__cardFooter

    &__cardFooter {
        display: flex;
        margin-top: 1.8rem;
    }

    // .our-jobs__cardElem

    &__cardElem {
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}

.feature {

    // .feature__header

    &__header {
        margin-bottom: 2rem;
    }

    // .feature__title

    &__title {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1.4;

        @media ($media_sm) {
            font-weight: 800;
            font-size: 1.5rem;
        }
    }

    // .feature__body

    &__body {
        display: flex;

        &--column {
            flex-direction: column;

            @media ($media_not_sm) {
                .feature__content {
                    margin-bottom: 2rem;
                }

                .feature__labels {
                    display: flex;
                }
    
                .feature__label {
                    &:not(:last-child) {
                        margin-right: 4rem;
                        margin-bottom: 0;
                    }
                }
            }
        }

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .feature__row

    &__row {
        flex-basis: 100%;
    }

    // .feature__content

    &__content {
        flex-basis: 120%;

        display: flex;
        flex-direction: column;
    }

    // .feature__buildInfoItems

    &__buildInfoItems {
        display: flex;

        @media ($media_sm) {
            margin-top: 1.5rem;
        }

        // .feature__buildInfoItems--column

        &--column {
            flex-direction: column;
            margin-right: 2rem;
            flex-basis: 80%;

            .feature__buildInfoItem {
                border-right: none;
                border-bottom: 1px solid $color_footer_divider;

                &:first-child {
                    border-left: none;
                    border-top: 1px solid $color_footer_divider;
                }
            }

            @media ($media_sm) {
                margin: 0;

                .feature__buildInfoItem {
                    padding: 1rem 0.3rem;

                    .buildInfo__value {
                        font-size: 1.25rem;
                        margin-left: 1.25rem;
                    }
                }
            }
        }
    }

    // .feature__buildInfoItem

    &__buildInfoItem {
        padding: 1.5rem 2rem;
        flex-basis: 100%;
        border-right: 1px solid $color_footer_divider;

        &:first-child {
            border-left: 1px solid $color_footer_divider;
        }

        @media ($media_sm) {
            padding: 0.3rem;
        }

    }

    // .feature__table

    &__table {
        margin-bottom: 2rem;

        @media ($media_sm) {
            margin-bottom: 1.5rem;
        }
    }

    // .feature__preview

    &__preview {
        display: flex;
        margin-bottom: auto;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .feature__picture

    &__picture {
        margin-right: 2rem;

        picture {
            display: flex;
        }

        @media ($media_sm) {
            margin: 1.5rem 0; 
        }
    }

    // .feature__img

    &__img {

        @media ($media_sm) {
            min-width: 100%;
        }
    }

    // .feature__info

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    // .feature__type

    &__type {
        font-size: 1.875rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    // .feature__labels

    &__labels {

    }

    // .feature__label

    &__label {
        &:not(:last-child) {
            margin-bottom: 0.8rem;
        }
    }

    // .feature__tags

    &__tags {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: -1.5rem;

        @media ($media_sm) {
            grid-template-columns: 1fr;
            margin-top: 0;
        }

        .base-list__item {
            line-height: 1;
            margin-top: 1.5rem;
        }
    }
}

.build-promo {

    // .build-promo__header

    &__header {
        
    }

    // .build-promo__title

    &__title {

    }

    // .build-promo__slider

    &__slider {
        margin-top: 2.5rem;

        @media ($media_sm) {
            margin-top: 1.5rem;
        }
    }

    // .build-promo__info

    &__info {
        display: flex;
        align-items: flex-end;
        margin-top: -3rem;

        @media ($media_sm) {
            align-items: stretch;
            flex-direction: column;
            margin-top: 2rem;
        }
    }

    // .build-promo__price

    &__price {
        flex-basis: 100%;
    }

    // .build-promo__consult

    &__consult {
        flex-basis: 200%;
        margin-left: 4rem;
        padding: 3rem 0;

        @media ($media_sm) {
            padding: 0;
            margin: 3rem 0 0;
        }
    }
}

.gallery {

    // .gallery__header

    &__header {
        margin-bottom: 2rem;

        @media ($media_sm) {
            margin-bottom: 1rem;
        }
    }

    // .gallery__title

    &__title {

    }

    // .gallery__body

    &__body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @media ($media_sm) {
            gap: 0.7rem;
        }

        // .gallery__body--pair

        &--pair {
            grid-template-columns: 1fr 1fr;

            @media ($media_sm) {
                grid-template-columns: 1fr;
            }
        }

        // .gallery__body--quad

        &--quad {
            grid-template-columns: 1fr 1fr 1fr 1fr;

            @media ($media_sm) {
                grid-template-columns: 1fr 1fr;

                .gallery__item {
                    img {
                        min-height: auto;
                    }
                }

            }
        }
    }

    // .gallery__item

    &__item {

        img {
            @media ($media_sm) {
                min-height: 12rem;
                object-fit: cover;
                border-radius: 0px 2.5rem;
            }
        }

    }
}

.work-process {
    display: flex;

    // .work-process__labels

    &__labels {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;

        @media ($media_sm) {
            padding: 0;
        }
    }

    // .work-process__label

    &__label {
        font-weight: 700;
        padding: 1.2rem 1rem;
        display: inline-block;

        // .work-process__label--active

        &--active {
            color: $color_white;
            background-color: $color_primary;
            clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);

            @media ($media_sm) {
                clip-path: none;
            }
        }
    }

    // .work-process__items

    &__items {
        flex-basis: 100%;
        display: flex;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .work-process__item

    &__item {
        flex-basis: 100%;

        &:not(:last-child) {
            margin-right: 1.5rem;

            @media ($media_sm) {
                margin: 0 0 1rem 0;
            }
        }
    }
}

.process-section {

    // .process-section__header

    &__header {
    }

    // .process-section__title

    &__title {
    }

    // .process-section__body

    &__body {
        margin-top: 2.5rem;

        @media ($media_sm) {
            margin-top: 1rem;
        }
    }

    // .process-section__item

    &__item {
        &:not(:last-child) {
            margin-bottom: 3.75rem;

            @media ($media_sm) {
                margin-top: 2.5rem;
            }
        }
    }
}

.feature-case {

    // .feature-case__container

    &__container {
        display: flex;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .feature-case__info

    &__info {
        flex-basis: 60%;

        .buildInfo {
            padding: 1.5rem 0;
            justify-content: center;

            @media ($media_sm) {
                padding: .3rem;
            }
        }
    }

    // .feature-case__cards

    &__cards {
        flex-basis: 40%;
        margin-left: 2rem;

        @media ($media_sm) {
            margin: 2rem 0 0;
        }

        @media ($media_not_sm) {
            transform: translateY(-17rem);
            position: relative;
            z-index: 1;
        }
    }

    // .feature-case__card

    &__card {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}

.catalog {

    // .catalog__header

    &__header {

    }

    // .catalog__title

    &__title {

    }

    // .catalog__body

    &__body {
        display: flex;
        margin-top: 3rem;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .catalog__filters

    &__filters {
        @media ($media_not_sm) {
            position: sticky;
            top: 2rem;
        }

        @media ($media_sm) {
            padding: 0 var(--menu-details-space);
        }
    }

    // .catalog__sidebar

    &__sidebar {
        flex-basis: 25%;

        @media ($media_not_sm) {
            position: static;
            transform: unset;
            overflow-y: unset;

            margin-right: 2rem;

            .menu__header {
                display: none;
            }
        }

        .filter {
            &:not(:last-child) {
                margin-bottom: 1.2rem;
            }
        }
    }

    // .catalog__content

    &__content {
        flex-basis: 75%;
    }

    // .catalog__cards

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.8rem;

        @media ($media_sm) {
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        .card {
            @media ($media_not_sm) {
                transition: 0.3s ease-in-out;
                @include cursorPointer;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    // .catalog__createProject

    &__createProject {
        margin: 2rem 0;
    }
}

.filter {

    // .filter__details

    &__details {
        &.details--opened {
            .filter__dropdown {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }

    // .filter__title

    &__title {
        font-weight: 700;
        font-size: 0.9rem;
        margin-bottom: 0.8rem;
    }

    // .filter__content

    &__content {
        margin-top: 1.2rem;

        @media ($media_not_sm) {
            max-height: 15rem;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0.5rem;
            }
            
            &::-webkit-scrollbar-track {
                background-color: darken($color_body_bg, 3%);
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: darken($color_footer_divider, 10%);
            }
        }
    }

    // .filter__list

    &__list {
        padding: 0 1.2rem;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    // .filter__body

    &__body {
        
    }

    // .filter__dropdown

    &__dropdown {
        padding: 1.2rem;
        padding-right: 2.5rem;
        position: relative;
        font-weight: 700;

        &::after {
            content: "";
            position: absolute;
            right: 1.25rem;
            top: 50%;
            transform: translateY(-50%);
            background-image: url("../img/arrow.svg");
            background-size: cover;
            background-repeat: no-repeat;
            width: 0.75rem;
            height: 0.45rem;
            transition: 0.3s ease-in-out;
        }
    }
}

.filter-mobile {
    display: none;
    border-bottom: 1px solid $color_footer_divider;

    .c-field {
        width: 100%;

        &__input {
            border-bottom: none;
        }
    }
}